{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    Bonjour {{ app.user.firstname }}
    <a href="{{ path('account_modification') }}">Modifier le mot de passe</a>
{% endblock %}
